base00 = #ffffff
base01 = #e1e1e2
base02 = #c4c3c5
base03 = #a7a5a8
base04 = #89878b
base05 = #6c696e
base06 = #4f4b51
base07 = #322d34
base08 = #d8137f
base09 = #d65407
base0A = #dc8a0e
base0B = #17ad98
base0C = #149bda
base0D = #775dff
base0E = #aa17e6
base0F = #e013d0

.base00 
  color: base00
.base01 
  color: base01
.base02 
  color: base02
.base03 
  color: base03
.base04 
  color: base04
.base05 
  color: base05
.base06 
  color: base06
.base07 
  color: base07
.base08 
  color: base08
.base09 
  color: base09
.base0A 
  color: base0A
.base0B 
  color: base0B
.base0C 
  color: base0C
.base0D 
  color: base0D
.base0E 
  color: base0E
.base0F 
  color: base0F