@font-face {
  font-family: 'jaapokkisubtract';
  src: url('/fonts/jaapokkisubtract-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jaapokkisubtract-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/jaapokkisubtract-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jaapokkisubtract-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'jaapokkienchance';
  src: url('/fonts/jaapokkienchance-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/jaapokkienchance-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jaapokkienchance-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/jaapokkienchance-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jaapokkienchance-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.about h1 {
  font-family:  'jaapokkienchance','Fira Mono',monospace;
  text-transform: none;
  font-size: 5rem ;
}

code {
  background-color: transparent !important;
  color: inherit !important;
}
